

.banner {
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
    color: white;
}

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}

div {
  display: block;
}

.container {
  width: 900px;
  margin: auto;
}

.btn-primary {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
